body {
  background-color: #e5e5e5;
  font-family: 'Merriweather', 'Lato', sans-serif;
}

.header {
  width: 100%;
  /* height: 800px; */
  background-color: #d7d4ff;
}

.header-nav {
  padding: 3.438rem 1.25rem 0 1.25rem;
}

.header-nav h1 {
  font-family: 'Merriweather';
  font-size: 2rem;
  font-weight: 400;
  color: #2b2b2b;
}

.header-nav p {
  font-size: 1.125rem;
  font-family: 'Lato';
  color: #555555;
  line-height: 2rem;
  text-align: justify;
}

.header-btn button {
  font-family: 'Lato';
  font-weight: 700;
  color: white;
  background: #6c63ff;
  padding: 0.875rem 3.125rem;
  border: none;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 0.313rem;
  transition: background ease-in-out 0.3s;
  cursor: pointer;
  margin-top: 2.875rem;
}

.header-btn:hover button {
  background-color: #8079fb;
}

.img {
  display: block;
  padding: 7.125rem 2rem 5.5rem 2rem;
}

.img img {
  max-width: 100%;
}

.card {
  margin: 4.688rem 1.25rem;
}

.article-cards {
  background-color: #ff6363;
  height: 26.438rem;
  position: relative;
  margin-bottom: 1.875rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.article-cards:nth-child(2) {
  background: #63ecff;
}

.article-cards:nth-child(3) {
  background: #f363ff;
}

.article-cards:nth-child(4) {
  background: #63ff73;
}

.article-cards:nth-child(5) {
  background: #ffdd63;
}

.article-cards:nth-child(6) {
  background: #6663ff;
}
.text-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 1.5rem 1.925rem 1.875rem 2.063rem;
  box-sizing: border-box;
}

.text-card h2 {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.text-card p {
  color: #555555;
  font-family: 'Lato';
  font-size: 1.125rem;
  line-height: 1.875rem;
}

footer {
  background-color: #d7d4ff;
  padding: 5.188rem 1.25rem 3.5rem 1.25rem;
}

footer h1 {
  text-align: center;
  font-family: 'Merriweather';
  font-weight: 400;
  margin-bottom: 2.25rem;
}

form {
  display: grid;
  gap: 1.25rem;
}

input,
textarea {
  padding: 1.25rem;
  border: none;
  border-radius: 0.313rem;
  resize: none;
  outline: transparent;
}

input::placeholder,
textarea::placeholder {
  color: rgba(110, 114, 117, 0.74);
  font-size: 1.125rem;
  font-family: 'Lato';
}

footer button {
  font-family: 'Lato';
  font-weight: bold;
  color: white;
  background: #6c63ff;
  padding: 0.875rem 3.125rem;
  border: none;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 0.313rem;
  transition: background ease-in-out 0.3s;
  cursor: pointer;
  margin-top: 2.813rem;
}

footer button:hover {
  background-color: #8079fb;
}

footer p {
  font-family: 'Merriweather';
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  body {
    background: #f9f9f9;
  }

  .header {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .header-nav {
    padding: 138px 386px 45px 100px;
  }

  .header-btn {
    margin-bottom: 50px;
  }

  .img {
    padding-right: 105px;
    width: 100%;
  }

  .card {
    margin: 150px 100px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 111px;
  }

  form {
    padding-left: 485px;
    padding-right: 485px;
  }
}
